<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8"></mata>
        <title>Print</title>
        <%= erb :bootstrap %>
    </head>
    <body>
        <div class="container">
            <h1>Queries</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>created at</th>
                        <th>team</th>
                        <th>lang</th>
                        <th>size</th>
                        <th>printed</th>
                        <th>printed at</th>
                    </tr>
                </thead>
                <tbody>
                    <% @qs.each do |q| %>
                        <tr>
                            <td><%= q.id %></td>
                            <td><%= q.created_at %></td>
                            <td><%= q.team_name %></td>
                            <td><%= q.language %></td>
                            <td><%= 0 %> bytes</td> <!-- todo -->
                            <td><%= q.printed_flg.zero? ? "NO" : "YES" %></td>
                            <td><%= q.printed_at %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </body>
</html>
